.Rproj.user
.Rhistory
.RData
DataFinal.xls
DataFinal_proportiononly.txt
DataFinal_proportiononly.xlsx
DataFinal_totalonly.txt
DataFinal_wproportion.xlsx
~$DataFinal_proportiononly.xlsx
~$DataFinal_wproportion.xlsx
Result
Result2_02042015
Distance.txt
DistanceforR.txt
